* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 24px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}

ul {
    padding-left: 0;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration-line: none;
    color: #E5E7EB;
}

blockquote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

cite {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;

}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 48px;
    flex: 0 1 0;
    align-items: baseline;
}

.logo {
    width: 400px;
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 24px;
}

.header-links {
    margin-top: 0;
    width: 500px;
    justify-content: end;
    display: flex;
    margin-top: 24px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 48px;
    margin: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 400px;
}

#header-greating {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#top-button {
    border: 0;
    align-self: baseline;
}

.image_placeholder {
    width: 500px;
    height: 250px;
    background-color: gray;
    align-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    margin-bottom: 100px;
}

.pic {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.pic-text {
    width: 150px;
    text-align: center;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 740px;
    margin: 100px;
}

#quote-text {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    align-self: center;
}

.action-block {
    display: flex;
    align-content: centers;
    justify-content: center;
}

.action {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    display: flex;
    padding: 50px 150px;
    margin: 100px 200px;
    justify-content: space-evenly;
    gap: 100px;
}

.action-content {
    width: 500px;
}

#call {
    font-size: 24px;
    font-weight: 700;
}

#bottom-button {
    border: 4px solid white;
    align-self: baseline;
    align-self: center;
    flex: 0 0 15%;
}